.header {
  @include flex(center, center);
  background-color: $main-bg;
  width: 100%;
  position: fixed;
  height: $header-height;
  top: 0;
  left: 0;
  z-index: 999;
  transition: height ease 0.4s;

  @include tablet {
    height: $header-tablet-height;
    box-shadow: $box-shadow;
  }

  @include mobile {
    height: $header-mobile-height;
    box-shadow: $box-shadow;
  }

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;
  }

  &__center {
    @include flex(center, center);
  }

  &__logo {
    @include flex(center, center);

    a {
      height: 70px;
      img {
        height: inherit;
        width: inherit;
        object-fit: cover;
      }
    }

    @include tablet {
      a {
        height: 40px;
        img {
          height: inherit;
          width: inherit;
          object-fit: cover;
        }
      }
    }
  }

  &__items {
    @include flex(center, space-between);
  }

  &__menu {
    &__item {
      cursor: pointer;
    }

    &__item ~ &__item {
      margin-left: 40px;
      @include tablet {
        margin-left: 20px;
      }
      @include mobile {
        margin-left: 15px;
      }
    }

    &__item.active {
      font-weight: 500;
      color: $main-color;
    }

    &__item:hover {
      color: $main-color;
    }

    &__left,
    &__right {
      @include flex(center, center);
    }

    &__left {
      font-size: 1.2rem;

      @include tablet {
        &__item ~ &__item {
          margin-left: unset;
          margin-top: 20px;
        }
      }

      &__mobile--toggle {
        display: none;
        @include tablet {
          display: block;
          font-size: 1.5rem;
        }
      }

      &__items {
        @include flex(center, space-between);

        &__close {
          display: none;
          @include tablet {
            display: block;
            position: absolute;
            top: 25;
            left: 30px;
            font-size: 1.5rem;
          }
        }

        @include tablet {
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100vh;
          background-color: $main-bg;
          padding-top: 30px;
          transform: translateX(-100%);
          transition: transform ease-in-out 0.5s;

          &.active {
            transform: translateX(0);
          }
        }
      }

      &__item {
        text-transform: capitalize;
      }
    }

    &__right {
      &__item {
        font-size: 1.5rem;

        &__bag {
          position: relative;
          span {
            position: absolute;
            top:50%;
            left:12px;
            width: 16px;
            height: 16px;
            background-color: red;
            font-size: 10px;
            text-align: center;
            border-radius: 50%;
            line-height: 160%;
            font-weight: 500;
            color: $white-color;
          }
          // &__counter {

          // }
        }
        @include tablet {
          margin-left: auto;
          font-size: 1.35rem;
        }

        @include mobile {
          margin-left: auto;
        }
      }
    }
  }
}
